.header {
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: large;
}

a {
    color: #000;
    text-decoration: none;

}

.button-header {
    margin-left:50px;
    margin-top:2rem;
    border-radius: 12px;
    padding: 32x 16px;
    font-size: 25px;
    background-color: #fff;
    border: none;

}

.button-header:hover {background-color: #7c7c7c}

.category {
    font: 50px italic Verdana, cursive;
    margin-top: 50px;
    margin-left: 10px;


}


.column {
    position: relative;
    float: left;
    width: 50%;
    padding: 30px;
    text-align: left;
    font: 50px italic Verdana, cursive;


}

  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;


}



@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 9;

  }

  /* make sure navbar dont block content below */

  body {
    padding-top: 100px;
  }


  @media (max-width: 750px) {
    body {
      padding-top:250px;
    }
  }

  @media (max-width: 300px) {
    body {
      padding-top:550px;
    }
  }



  /* Overlaying image*/
  .container {
    position: relative;
    width: 50%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;

  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .column:hover .image {
    opacity: 0.3;
  }

  .column:hover .middle {
    opacity: 1;
  }

  /*----------*/


  /*SLIDE SHOW*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 30px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}




  /*----------*/

.button1 {
    color: #fff;
    background-color: #4CAF50;
    font-size: 16px;
    border-radius: 12px;
  }


#gameover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75)  no-repeat center center;
    content: "Important";
    z-index: 10000;
}


  @keyframes glowred {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #f00;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }


  @keyframes glownext {
    0% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
    50% {
      background-color: #49e819;
      box-shadow: 0 0 20px #49e819;
    }
    100% {
      background-color: #2ba805;
      box-shadow: 0 0 5px #2ba805;
    }
  }


